.root {
  position: absolute;
  display: flex;
  padding: 12px;
}

.inner {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 2px solid #8B4513;
  overflow: hidden;
  cursor: pointer;
}

.male {
  background: #859093;
}

.female {
  background: #e6e163;
}

.isRoot {
  border-color: rgba(0, 0, 0, .4);
}

.isHover {
  border-color: rgba(0, 0, 0, .8);
}

.id {
  font-size: 7px;
  line-height: 1;
  opacity: .5;
}

.sub {
  position: absolute;
  top: 6px;
  right: 14px;
  width: 14px;
  height: 10px;
  border: 1px solid #8B4513;
  background: #fff;
  cursor: pointer;
}

.avatar {
  display: flex;
  flex-direction: column; /* Đặt hướng sắp xếp theo cột */
  align-items: center; /* Căn giữa theo chiều ngang */
  justify-content: center; /* Căn giữa theo chiều dọc */
  padding: 10px; 
  margin-left: 10px;
  text-align: center; /* Căn giữa nội dung văn bản */
}


.sub.male {
  background: #E6A57E;
}

.sub.female {
  background: #9EBC9E;
}
